.gateline{
    margin: 0rem 2rem;
    padding: 1rem;
    justify-content: baseline;
    
}
.h1{
    display: inline-block;
    
    
}
.row-line{
    padding: 1px 28rem;
    background-color: rgb(0, 0, 0);
    height: 1px;
    border-radius: 1rem;
    margin-bottom: 8px;
    display: inline-block;
   
}